

/*DESKTOP*/
@media only screen and (min-width: 1025px) {

  .content-wrapper {
    margin: 5em auto 5em auto;
  }


  .primary-banner {
   margin-bottom: 7em;
   height: 1000px;
  }

  .phil-intro {
    margin-bottom: 7em;
    padding: 12em;
  }

  .nav-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .row {
    width: 70%;
    /*margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
  }

  .column {
    width: 50%;
    margin: 0 auto 4.5em auto;
  }

  .column img{
    width: 65%;
    margin: 0 auto;
  }

  .column-desc h2 {
    margin-top: 0;
  }

  .column-desc p {
    font-size: .95em;
    line-height: 1.582;
  }

  .app-summary {
     width: 45%;
     margin: 0 auto;
  }

  .about-me {
      width: 50%;
  }


  } /*End of desktop*/
