/*------------------------------------------------------------------------------
TABLE OF CONTENTS
-----------------
Color Guide
Section Styles:
  Jumbo Container
  Main Input Field Container
  Headers
  Misc
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
COLOR GUIDE
-----------
#Main background: #E3E3E3
#Tomato (Danger border) : tomato
#Pastel green (header 4):  rgb(110, 180, 49)
#Pastel lime green (table):
  #c2dfae
  color: #214109
  background: #8eb870
------------------------------------------------------------------------------*/

/*Jumbo container-------------------------------------------------------------*/
body {
    background-color: #E3E3E3;
    font-size: 18px;
}

article {
    width: 530px;
    margin: auto;
}

/*Main input field container--------------------------------------------------*/
#mainForm, .calculationResultContainer {
    margin: 3px 3px;
    width: 250px;
    /*prevent container from doing the funky chicken dance (getting bigger) when calculation shows up*/
    height: 420px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 9px -3px rgba(0, 0, 0, 0.67);
    text-align: center;
}

#mainForm {
    float: left;
}

.calculationResultContainer {
    float: left;
}

.formFields li {
    list-style-type: none;
    /*li element has 2 floated children. This prevents header jumping*/
}

.formFields label {
    width: 120px;
    float: left;
    margin-right: 6px;
    padding: 3px;
}

input {
    width: 71px;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    outline: none;
    /*float both input and label left so they are closer together*/
    float: left;
}

#bankDiscount {
    width: 73px;
}

#gallonsNeeded {
    width: 73px;
    margin-left: 1px;
}

/*Disable huge blue border that shows in Chrome when selecting input fields*/
input:focus {
    border: 1px solid #79c822;
    box-shadow: 0px 0px 3px 1px #c8def0;
}

ul {
    padding: 0;
    text-align: right;
}

span {
    float: left;
    padding: 3px
}

table {
    margin: auto;
    width: 210px;
    max-width: 220px;
    background-color: #c2dfae;
}


th, td {
    border-bottom: 1px solid white;
    /*prevents table from doing chicken chance as td start getting bigger #*/
    width: 110px;
}

th {
    color: #214109;
    background: #8eb870;
}

/*Headers------------------------------------------------------------- */
h3 {
  color: #444;
  text-align: center;
  margin-bottom: 100px;
  line-height: 150%;
}

h4 {
    color: #79c822;
    font-weight: 800;
    text-align: center;
}

.additInfo {
   clear: both;
   padding-top: 25px;
}

h5 {
    color: tomato;
}

/*Misc------------------------------------------------------------- */
p {
    margin-left: 10px;
    margin-right: 10px;
}

#errorMsgEl {
    color: tomato;
    margin-top: 110px;
}

.footerContent {
    clear: both;
    margin: auto;
    width: 490px;
    color: #444;
    font-size: 7px;
    padding-top: 23px;
    text-align: center;
}
