
/*TABLET rule kicks in when @ 768 and above*/
@media only screen and (min-width: 768px) {

  .primary-banner {
   margin-bottom: 2em;
  }

  .phil-intro {
    margin-bottom: 5em;
  }

  .row {
    width: 90%;
    margin: 0 auto;
  }

  .saran-wrap {
   display: block;
   text-align: center;
    width: 95%;
    margin: 0 auto;
  }

  .column {
    width: 60%;
  }

  .column figure {
    margin: 0 auto;   /*This prevents figure from having huge uneeded margin*/
    width: 85%;
    height: 85%;
  }

  } /*End of tablet*/
