<footer>
<div class="contact">
	<!-- <div class="contact-picture">
			pic
		</div> -->
	<div class="contact-links">
		<h3>Keep in touch</h3>
		<a href="https://github.com/PhilJayN">
			<i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
		</a>
		<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
		<a href="https://www.meetup.com/members/13996667/">
			<i class="fa fa-meetup fa-2x" aria-hidden="true"></i>

		</a>

		<i class="fa fa-slack fa-2x" aria-hidden="true"></i>

		<a href="https://twitter.com/_PhilN">
			<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
		</a>
		<i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
	</div>

</div>


<p>
	Site created with pizza and hands, just not at the same time.
</p>
<p>Philip Nguyen 2017</p>
</footer>
