
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Portfolio | Philip Nguyen</title>
<link href="/css/common.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="/css/gasCalc.css" type="text/css" rel="stylesheet" />
<script src="https://use.fontawesome.com/75cb820bb3.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
