<header>
  <nav class="primary-nav">
  <a class="menu-links" href="/index.html">Home</a>
  <a class="menu-links" href="/about/index.html">About</a>
  <!-- <a class="menu-links" href="{{site.baseurl}}/blog/index.html">Blog</a> -->
  <!-- contact takes to social media footer-->
  <!-- <a class="menu-links" href="{{site.baseurl}}/contact/index.html">Contact</a> -->
  <!-- <a class="menu-links" href="/resume/index.html">Resume</a> -->
  <!-- <a class="menu-links" href="/projects/index.html">Projects</a> -->
</nav>

<div class="primary-banner">
</div>
</header>
