<header>
  <nav class="primary-nav">
    <a class="menu-links" href="/index.html">Home</a>
    <a class="menu-links" href="/about/index.html">About</a>
    <!-- <a class="menu-links" href="{{site.baseurl}}/blog/index.html">Blog</a> -->
    <!-- <a class="menu-links" href="/resume/index.html">Resume</a> -->
</nav>

<a href="/index.html">
  <div class="primary-banner darken" title="Click to go to home page!">
    <!-- <img class="darken" src="/images/sfog.jpg" alt="hero banner" /> -->
  </div>
</a>

</header>
