<header>
  <nav class="nav-bar">
  <a class="menu-links" href="{{site.baseurl}}/index.html">Home</a>
  <a class="menu-links" href="{{site.baseurl}}/about/index.html">About</a>
  <!-- <a class="menu-links" href="{{site.baseurl}}/blog/index.html">Blog</a> -->
  <!-- contact takes to social media footer-->
  <!-- <a class="menu-links" href="{{site.baseurl}}/contact/index.html">Contact</a> -->
  <a class="menu-links" href="{{site.baseurl}}/resume/index.html">Resume</a>
  <a class="menu-links" href="{{site.baseurl}}/projects/index.html">Projects</a>
</nav>

<div class="banner">
</div>
</header>
