<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Philip Nguyen</title>
    <link href="{{site.baseurl}}/css/common.css" type="text/css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/75cb820bb3.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">

</head>

<body>
    <header>
        {% include nav.html %}
    </header>
    <div class="main-content-jumbo">
    {{content}}
  </div>

    <footer>
        {% include footer.html %}
    </footer>

</body>

</html>
